<!DOCTYPE html>
<html lang="eng">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>Main Page</title>
</head>
<body>
<ul class="menu">
    <li><a href="/">Main Page</a></li>
    <li><a href="/active-postings/">Postings List</a></li>
    <li><a href="/past-postings/">Finished Postings List</a></li>
    <li><a href="/add-posting">Add Posting</a></li>
</ul>
<h1>Description</h1>
<p>
    This app was developed as an academic project for study purposes. <br>
    Therefore, its construction and features are more theoretical than practical. <br>
    It lacks some of the functionalities required for a real-life project and mainly includes
    those highlighted in the assignment. <br> <br>

    The main idea of this website is to provide a platform where individuals and institutions
    can create postings and others can make offers on them. <br>
    The website comprises several sections: <br>

    - Main Page: The landing page of the website. <br>
    - Postings List: Displays all active postings and allows users to view details of each posting.
    Users can also make offers on the details page of a posting. <br>
    - Finished Postings List: Contains all finalized postings. Upon selecting a posting and viewing its details,
    a list of individuals or entities who made offers on that posting is displayed,
    provided their offer was lower than the maximum price set by the poster. <br>
    - Add Posting: Allows users to create a new posting.
</p>
</body>
</html>
